<h1>Hello World</h1>

<!-- 

    Idee de texte a mettre 


    Corgipsum is a fast and simple way to use beautiful corgis as placeholders for any of your projects. Wether you are working
    on some new code or your latest design i'm sure we can find a corgi to fit your needs!

    All you have to do is type the dimensions of the desired corgi in the url following the domain name and we'll fix
    you up with a furry friend.

    If you want a 400 pixels by 200 pixels picture just use https://corgipsum.com/400/200 !

    If the desired image is a square you will only need one parameter, so https://corgipsum.com/400 !

    But wait, there's more! You can easily add a filter to your image by adding the name of said filter at the end
    of the url.

    Surrported filters: ['sepia', 'grayscale', 'invert', 'contrast', 'blackandwhite', 'blur'] 

    ex: https://corgipsum/400/200/sepia 


    Pour inserer une image: 

    En l'occurence 'static ouvrira le fichier static du fichier main donc tu commences ton path a 'assets/' stv load une image 
    de corgi

    <img src="{% static 'path/to/image' %}" alt="This is an image of a corgi!">

    Pour loader ton fichier css / js c'est pareil

    <link href='{% static 'path/...'%}'' type=...>
    <script src='{% static 'path/...'%}' ...></script>

    Pour inserer la variable compteur: {{counter}}

    Met du vanilla css stp ou alors le fichier css compile, la solution deploy que j'utilise la est pas compatible avec
    la compilation cote serveur (les fichiers css sont servie par django avant que le compilateur est execute)



-->
